* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
    
}
html{
    scroll-behavior: smooth;
    overflow-x: hidden;
}
nav{
width: 100%;
height: 8rem;
display: flex;
align-items: center;
justify-content: space-between;
padding: 0 3rem;
background: #acb4b5;
border-radius: 1rem;
background-size: cover;
}
.nav-bar{
  background-size: cover;
}
.thumb{
    width: 10rem; 
    height: 10rem;
    margin: 0.3rem 0.6rem;
}
.logo{
    font-size: 2.8rem;
    font-weight: bold;
    color: blue;
    margin-right: 4rem;
}
.nav-bar ul{
  display: flex;
  list-style: none;
    background-color:  #acb4b5;
}
.nav-bar ul li a{
    display: block;
    color: #f80808;
    font-size: 4.6 rem;
    padding: 1.3rem 1.9rem;
    transition: 0.2s;
    margin: 0 0.7rem;
    text-decoration: none;
}
.nav-bar ul li:hover a{
    background-color: #97a2a3;
    color: rgb(0, 255, 255);
    cursor: pointer;
    font-size: 2.2rem;
}
.thumb{
    height:5rem;
    width:5rem;
    
}
section{
    width:100%;
    height:91vh;
    margin: 0.3rem 0.6rem;
    margin-top: auto;
    justify-content: space-between;
    background-size: cover;
background-image: url('../img/home.jpg');
background-position: center;
}
#home{
    display: flex;
    flex-direction: column;
    padding: 0.3rem 20rem;
    justify-content: center;
    align-items: left;
}

.rightSection img{
    width:25%;
    border-radius: 4rem;
    margin:0 57rem}
.button{
    position: absolute;
    background-color: aqua;
    color:blue;
    text-decoration: none;
    border: 0.2rem solid rgb(187, 199, 6);
    font-weight: bold;
    padding: 1.5rem 3.2rem;
    margin-top: 4.5rem;
    transform: 0.4s;
    border-radius: 1rem;
    font-size: 2rem;
    }
    .button:hover{
        background-color: #f80808;
        color:aqua;
        cursor:pointer;
        border: 0.2rem solid white;
    }
.slide-left{
    animation: slideleft 1s linear forwards;
}
.button{
    animation:slideleft 2s linear forwards;
}
@keyframes slideleft{
    0%{
        transform: translate(100rem);
        opacity:0;
    }
    
}
.one{
    animation: slideleft 1s linear forwards;
}

@keyframes slideleft{
    0%{
        transform: translate(100rem);
        opacity:0;
    }}
.rightSection img{
    animation: slideleft 1s linear forwards;
}
.about{
    width:100%;
    height:100vh;
    background-size: cover;
    border-radius: 1rem;
    margin-top: auto;
    justify-content: space-between;
background-image: url('../img/side.jpg');
background-position: center;
}
.recipe{
    width: 100%;
    padding: 10rem 0rem;
    background-color: #0dacc1;
}
.recipe h2{
    color: #edffef;
    font-size: 2.8rem;
    text-transform: capitalize;
    margin-top: 0rem;
    margin-bottom: 2.0rem;
    text-align: center;
}
.box{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.page{
    position: relative;
    width: 30rem;
    height: 30rem;
    margin: 1rem;
    border: 0.8rem solid #d9f00f;
    border-radius: 4rem;
    box-shadow: 0 0.2rem 0.4rem rgba(0,0,0,0.1);
    overflow: hidden;
}
.box .page img{
    width: 100%;
    height: 1005;
    object-fit: cover;
   
}
.box .page .content{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 1.5rem;
    background-color: #edffef;
    color: #182f32;
    text-align: center;
    opacity: 0;
    transition: opacity 0.3s;
}
.box .page:hover .content{
    opacity: 1;
}
.page h3{
    font-size: 2.0rem;
    margin-top: 0;
    margin-bottom: 1.0rem;
    color: #213032;
}
.box .page p{
    font-size: 1.4rem;
    margin-bottom: 1.0rem;
}
.box .page button{
    position:relative;
    background-color: #213032;
    color: #fff;
    text-decoration: none;
    border: 0.2rem solid black;
    font-weight: bold;
    transform:.4s;
    padding: 1.3rem 3.0rem;
 }
 .box .page button:hover{
    background-color: #97a2a3;
    color: #213032;
    border: 0.2rem solid black;
    cursor: pointer;
 }
 /*Categories*/
 .categories{
    width: 100%;
    padding: 10.0rem 0rem;
    background-color: #0b6c06b6;
    cursor:url('cursor.jpg');
 }
 .categories h2{
    color:blue;
    font-size: 7.5rem;
    text-transform: capitalize;
    margin-top: 0rem;
    margin-bottom: 2.0rem;
    text-align: center;
 }
 .ca-page{
    position: relative;
    width: 30.0rem;
    height: 30.0rem;
    margin: 1.0rem;
    border: 0.5rem solid aqua;
    border-radius: 50%;
    box-shadow: 0 0.2rem 0.4rem rgba(2, 83, 29, 0.527);
    overflow: hidden;
 }
 .box .ca-page .content{
    position: absolute;
    bottom: 0rem;
    left: 0rem;
    right: 0rem;
    padding: 1.5rem;
    background-color: #edffef;
    color: #182f32;
    text-align: center;
    opacity: 0;
    transition: opacity 0.3s;
 }
 .box .ca-page:hover .content{
    opacity: 1;
 }
 .ca-page h3{
    font-size: 2.0rem;
    margin-top: 0;
    margin-bottom: 1.0rem;
    color: #a52806df;
 }
.box .ca-page p{
    font-size: 1.4rem;
    margin-bottom: 1.0rem;
}
.box .ca-page button{
    position:relative;
    background-color: #7a0c98;
    color: #fff;
    text-decoration: none;
    border: 0.2rem solid rgb(0, 0, 0);
    font-weight: bold;
    transform:.4s;
    padding: 1.3rem 3.0rem;
}
.box .ca-page button:hover{
    background-color: #97a2a3;
    color: #213032;
    border: 0.2rem solid black;
    cursor: pointer;
}
.box .ca-page img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.items{
    width: 100%;
    padding: 10.0rem 0rem;
    background-color: #0dacc1;
}
.items h2{
    color: #edffef;
    font-size: 7.5rem;
    text-transform: capitalize;
    margin-top: 0rem;
    margin-bottom: 2.0rem;
    text-align: center;
}




@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
input,
textarea {
  font-family: "Poppins", sans-serif;
}

.container {
  position: relative;
  width: 100%;
  min-height: 100vh;
  padding: 2rem;
  background-color: #fafafa;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form {
  width: 100%;
  max-width: 82.0rem;
  background-color: #25b546;
  border-radius: 1.0rem;
  box-shadow: 0 0 2.0rem 0.1rem rgba(0, 0, 0, 0.1);
  z-index: 1000;
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.contact-form {
  background-color: #034336;
  position: relative;
}

.circle {
  border-radius: 50%;
  background: linear-gradient(135deg, transparent 20%, #06a4d4);
  position: absolute;
}

.circle.one {
  width: 13.0rem;
  height: 13.0rem;
  top: 13.0rem;
  right: -4.0rem;
}

.circle.two {
  width: 8.0rem;
  height: 8.0rem;
  top: 1.0rem;
  right: 3.0rem;
}

.contact-form:before {
  content: "";
  position: absolute;
  width: 2.6rem;
  height: 2.6rem;
  background-color: #0cab5b;
  transform: rotate(45deg);
  top: 5.0rem;
  left: -1.3rem;
}

form {
  padding: 2.3rem 2.2rem;
  z-index: 10;
  overflow: hidden;
  position: relative;
}

.title {
  color: #fff;
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 1;
  margin-bottom: 0.7rem;
}

.input-container {
  position: relative;
  margin: 1rem 0;
}

.input {
  width: 100%;
  outline: none;
  border: 0.2rem solid #fafafa;
  background: none;
  padding: 0.6rem 1.2rem;
  color: #fff;
  font-weight: 500;
  font-size: 0.95rem;
  letter-spacing: 0.5rem;
  border-radius: 2.5rem;
  transition: 0.3s;
}

textarea.input {
  padding: 0.8rem 1.2rem;
  min-height: 15.0rem;
  border-radius: 2.2rem;
  resize: none;
  overflow-y: auto;
}

.input-container label {
  position: absolute;
  top: 50%;
  left: 1.5rem;
  transform: translateY(-50%);
  padding: 0 0.4rem;
  color: #fafafa;
  font-size: 0.9rem;
  font-weight: 400;
  pointer-events: none;
  z-index: 1000;
  transition: 0.5s;
}

.input-container.textarea label {
  top: 1rem;
  transform: translateY(0);
}

.btn {
  padding: 0.6rem 1.3rem;
  background-color: #fff;
  border: 2rem solid #fafafa;
  font-size: 0.95rem;
  color:blue;
  line-height: 1;
  border-radius: 2.5rem;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
  margin: 0;
}

.btn:hover {
  background-color: transparent;
  color: #fff;
}

.input-container span {
  position: absolute;
  top: 0;
  left: 2.5rem;
  transform: translateY(-50%);
  font-size: 0.8rem;
  padding: 0 0.4rem;
  color: transparent;
  pointer-events: none;
  z-index: 500;
}

.input-container span:before,
.input-container span:after {
  content: "";
  position: absolute;
  width: 10%;
  opacity: 0;
  transition: 0.3s;
  height: 0.5rem;
  background-color: #1abc9c;
  top: 50%;
  transform: translateY(-50%);
}

.input-container span:before {
  left: 50%;
}

.input-container span:after {
  right: 50%;
}

.input-container.focus label {
  top: 0;
  transform: translateY(-50%);
  left: 25rem;
  font-size: 0.8rem;
}

.input-container.focus span:before,
.input-container.focus span:after {
  width: 50%;
  opacity: 1;
}

.contact-info {
  padding: 2.3rem 2.2rem;
  position: relative;
}

.contact-info .title {
  color: #1abc9c;
}

.text {
  color: #333;
  margin: 1.5rem 0 2rem 0;
}

.information {
  display: flex;
  color: #555;
  margin: 0.7rem 0;
  align-items: center;
  font-size: 0.95rem;
}

.icon {
  width: 28rem;
  margin-right: 0.7rem;
}

.social-media {
  padding: 2rem 0 0 0;
}

.social-media p {
  color: #333;
}

.social-icons {
  display: flex;
  margin-top: 0.5rem;
}

.social-icons a {
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 0.5rem;
  background: linear-gradient(45deg, #1abc9c, #149279);
  color: #fff;
  text-align: center;
  line-height: 3.5rem;
  margin-right: 0.5rem;
  transition: 0.3s;
}

.social-icons a:hover {
  transform: scale(1.05);
}

.contact-info:before {
  content: "";
  position: absolute;
  width: 11.0rem;
  height: 10.0rem;
  border: 22rem solid #1abc9c;
  border-radius: 50%;
  bottom: -7.7rem;
  right: 5.0rem;
  opacity: 0.3;
}

.big-circle {
  position: absolute;
  width: 50.0rem;
  height: 50.0rem;
  border-radius: 50%;
  background: linear-gradient(to bottom, #1cd4af, #159b80);
  bottom: 50%;
  right: 50%;
  transform: translate(-40%, 38%);
}

.big-circle:after {
  content: "";
  position: absolute;
  width: 36.0rem;
  height: 36.0rem;
  background-color: #ece7e7;
  border-radius: 50%;
  top: calc(50% - 18.0rem);
  left: calc(50% - 18.0rem);
}

.square {
  position: absolute;
  height: 40.0rem;
  top: 50%;
  left: 50%;
  transform: translate(181%, 11%);
  opacity: 0.2;
}

@media (max-width: 85.0rem) {
  .form {
    grid-template-columns: 1fr;
  }

  .contact-info:before {
    bottom: initial;
    top: -7.5rem;
    right: 6.5rem;
    transform: scale(0.95);
  }

  .contact-form:before {
    top: -1.3rem;
    left: initial;
    right: 7.0rem;
  }

  .square {
    transform: translate(140%, 43%);
    height: 35rem;
  }

  .big-circle {
    bottom: 75%;
    transform: scale(0.9) translate(-40%, 30%);
    right: 50%;
  }

  .text {
    margin: 1rem 0 1.5rem 0;
  }

  .social-media {
    padding: 1.5rem 0 0 0;
  }
}

@media (max-width: 480rem) {
  .container {
    padding: 1.5rem;
  }

  .contact-info:before {
    display: none;
  }

  .square,
  .big-circle {
    display: none;
  }

  form,
  .contact-info {
    padding: 1.7rem 1.6rem;
  }

  .text,
  .information,
  .social-media p {
    font-size: 0.8rem;
  }

  .title {
    font-size: 1.15rem;
  }

  .social-icons a {
    width: 3.0rem;
    height: 3.0rem;
    line-height: 3.0rem;
  }

  .icon {
    width: 2.3rem;
  }

  .input {
    padding: 0.45rem 1.2rem;
  }

  .btn {
    padding: 0.45rem 1.2rem;
  }
}

@media(max-width:998rem){
  html{
    font-size: 55%;
  }
}
@media(max-width:768rem){
  html{
    font-size: 45%;
  }
}